* {
    box-sizing: border-box;

    /*border: 1px solid gainsboro;*/
}

body {
    padding: 0px;
    margin: 0px;
}

#page {
    max-width: 100vw;

    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.flex-spacer {
    flex: 1 auto;
}

/* Sidebar */
#sidebar {
    flex: 0 auto;

    height: 100vh;
    max-width: 0px;
    z-index: 1;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    transition-duration: 150ms;
    transition-property: width, max-width;
}

#sidebar.sidebarOpen {
    max-width: 250px;
}

#quickbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
}

#newList {
    grid-area: 1 / 1 / span 1 / span 4;
}

/* Main Section*/
#main {
    flex: 1;

    display: flex;
    flex-direction: column;
}

/* Top Bar */
#topbar {
    padding: 6px 24px;

    flex: 1;
    align-self: stretch;

    display: flex;
    align-items: center;
    gap: 12px;
}

#topbar h1 {
    margin: 6px;
}

/* Content */
#content {
    margin-top: 24px;
    align-self: center;

    width: min(750px, 100%);
}

#details {
    display: flex;
}

#title {
    flex: 1 auto;

    display: flex;
    flex-direction: column;

    h1 {
        margin: 0px 0px 8px 0px;
    }
}

#priority {
    align-self: flex-start;

    padding: 4px 16px;
    border-radius: 16px;

    font-size: 0.8rem;
    font-weight: bold;

    background-color: midnightblue;
    color: white;
}

#priority.important {
    background-color: burlywood;
}

#priority.urgent {
    background-color: red;
}

#due {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    text-align: right;
}

#due-remain {
    align-self: self-end;

    span {
        padding: 0px 4px;
        margin-left: 4px;
    }
}

#duedate {
    white-space: pre;
}

.task-group,
.task {
    margin-left: 40px;
}

.task-group {
    margin-top: 24px;
}

.task-check:checked + span,
.finished {
    text-decoration: line-through;
}
