* {
    box-sizing: border-box;

    /*border: 1px solid gainsboro;*/
}

body {
    padding: 0px;
    margin: 0px;
}

#page {
    max-width: 100vw;

    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.flex-spacer {
    flex: 1 auto;
}

/* Sidebar */
#sidebar {
    flex: 0 auto;

    height: 100vh;
    max-width: 0px;
    z-index: 1;

    overflow-x: hidden;
    overflow-y: scroll;
    text-wrap: nowrap;

    display: flex;
    flex-direction: column;

    transition-duration: 150ms;
    transition-property: width, max-width;
}

#sidebar.sidebarOpen {
    max-width: 250px;
}

#tasklists {
    padding: 16px 0px;
}

#quickbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
}

#new-list {
    grid-area: 1 / 1 / span 1 / span 4;
}

#tasklists button {
    border: 0px;
    border-radius: 12px 0px 0px 12px;

    background-color: white;
    background-clip: padding-box;

    text-align: left;
    font-size: 1rem;
}

#tasklists button:active {
    background-color: gainsboro;

    transition: 150ms;
}

#category-lists {
    margin-top: 16px;
    margin-bottom: 8px;
}

.list-entry {
    padding: 4px;
}

.list-entry button {
    padding: 4px 4px 4px 12px;
}

#category-lists .list-entry,
.category-content {
    display: flex;
    flex-direction: column;

    align-items: stretch;

    text-align: left;
}

.category-entry {
    padding: 4px 4px 4px 24px;
}

.category-content {
    padding-left: 12px;
    overflow: hidden;

    transition: max-height 1509ms;
}

.category-content.content-close {
    max-height: 0px;
}

/* Main Section*/
#main {
    flex: 1;

    display: flex;
    flex-direction: column;
}

/* Top Bar */
#topbar {
    padding: 6px 24px;

    flex: 1;
    align-self: stretch;

    display: flex;
    align-items: center;
    gap: 12px;
}

#topbar h1 {
    margin: 6px;
}

/* Content */
#content {
    margin-top: 24px;
    align-self: center;

    width: min(750px, 100%);
}

#details {
    display: flex;
}

#title {
    flex: 1 auto;

    display: flex;
    flex-direction: column;

    h1 {
        margin: 0px 0px 8px 0px;
    }
}

#priority {
    align-self: flex-start;

    padding: 4px 16px;
    border-radius: 16px;

    font-size: 0.8rem;
    font-weight: bold;

    background-color: midnightblue;
    color: white;
}

#priority.important {
    background-color: burlywood;
}

#priority.urgent {
    background-color: red;
}

#due {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    text-align: right;
}

#due-remain {
    align-self: self-end;

    span {
        padding: 0px 4px;
        margin-left: 4px;
    }
}

#duedate {
    white-space: pre;
}

.task-group,
.task {
    margin-left: 40px;
}

.task-group {
    margin-top: 24px;
}

.task-check:checked + span,
.finished {
    text-decoration: line-through;
}

.context-container {
    position: relative;
}

.property-actions {
    display: none;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.context-container:hover > .property-actions {
    display: flex;

    gap: 4px;
}

.property-action {
    display: inherit;
    height: 32px;
    aspect-ratio: 1/1;
    border: 1px solid gainsboro;
    border-radius: 50%;

    background-color: white;
}

/* Dialogs/Popup Form */
dialog {
    border: 0px;
    border-radius: 16px;
    outline: none;
}

dialog::backdrop {
    background-color: gainsboro;
    opacity: 75%;
}

#new-list-dialog > form {
    width: 50vw;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template: "h1 h1" "l1 l1" "ti ti" "l2 l3" "dd pr" "l4 ." "cg ." "bt bt";
    column-gap: 16px;

    label {
        margin-bottom: 4px;
        font-size: 1.2rem;
    }

    input,
    select {
        margin-bottom: 12px;
    }
}

#new-list-dialog h2 {
    margin-top: 4px;

    grid-area: h1;
}

#new-list-dialog input,
#new-list-dialog select,
#new-list-dialog button {
    font-size: 1.1rem;

    padding: 4px;
    border-radius: 8px;
}

#label-title {
    grid-area: l1;
}

#input-title {
    grid-area: ti;
}

#label-duedate {
    grid-area: l2;
}

#input-duedate {
    grid-area: dd;
}

#label-priority {
    grid-area: l3;
}

#input-priority {
    grid-area: pr;
}

#label-category {
    grid-area: l4;
}

#input-category {
    grid-area: cg;
}

#new-list-submit {
    grid-area: bt;
    text-align: center;

    margin-top: 24px;

    button {
        padding: 8px 16px;
    }
}

#edit-text-dialog > form,
#new-group-dialog > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    font-size: 1.1rem;
}

#edit-text-dialog textarea {
    width: 25vw;
}

#edit-text-dialog button,
#new-group-dialog button {
    margin-top: 8px;
}

#new-task-dialog > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

#new-task-dialog select {
    width: 100%;
}

#new-task-submit {
    margin: 0 auto;
    margin-top: 8px;
}
